<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=0.5.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="slf" type="Slf.Config.SlfConfigurationSection, slf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <slf>
    <factories>
      <factory type="SLF.Log4netFacade.Log4netLoggerFactory, SLF.Log4netFacade" />
    </factories>
  </slf>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="foodServiceLogfile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <appSettings>    
    <add key="retentionDay" value="2" />
    <add key="logPath" value="C:\Temp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  
    <add name="Connection" connectionString="data source=ISE;password=ise9023;user id=ISECOMPUTER" providerName="Oracle.DataAccess.Client" />
    <!--<add name="Connection" connectionString="data source=isetest;user id=ISEFOOD;password=ise4859" providerName="Oracle.DataAccess.Client" />-->
  </connectionStrings>
  <system.identityModel>
    <identityConfiguration>
      <issuerNameRegistry type="ISE.Framework.Server.Common.Security.TrustedIssuerNameRegistry, ISE.Framework.Server.Common" />
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.Saml11.Saml11SecurityTokenHandler, System.IdentityModel, Version=0.5.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add type="System.IdentityModel.Tokens.Saml11.Saml11SecurityTokenHandler, System.IdentityModel, Version=0.5.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        </add>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="ISE.Framework.Common.CommonBase.BaseDto,ISE.Framework.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null">
          <knownType type="ISE.ServiceDesk.Common.DTO.SdServiceCategoryDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTO.SdServiceJobDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTO.SdServiceCategoryJobDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTO.SdFilterCategoryDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTO.SdUserRequestDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTO.SdWorkDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTO.SdItRoleDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
        </add>
        <add type="ISE.Framework.Common.CommonBase.DtoContainer,ISE.Framework.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null">
          <knownType type="ISE.ServiceDesk.Common.DTOContainer.ServiceJobDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTOContainer.BaseDataContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTOContainer.PersonelDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTOContainer.UserRequestDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
          <knownType type="ISE.ServiceDesk.Common.DTOContainer.OfficeDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />

        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <system.serviceModel>
    <services>
     

      <service name="ISE.ServiceDesk.Service.ServiceJobService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IServiceJobs" listenUri="IServiceJobs">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IServiceJobs">
            </Route>
          </headers>
        </endpoint>
      </service>
      
      <service name="ISE.ServiceDesk.Service.ServiceCategoryService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IServiceCategory" listenUri="IServiceCategory">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IServiceCategory">
            </Route>
          </headers>
        </endpoint>
      </service>

      <service name="ISE.ServiceDesk.Service.BaseDataService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IBaseDateService" listenUri="IBaseDateService">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IBaseDateService">
            </Route>
          </headers>
        </endpoint>
      </service>

      <service name="ISE.ServiceDesk.Service.ServiceCategoryJobService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IServiceCategoryJob" listenUri="IServiceCategoryJob">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IServiceCategoryJob">
            </Route>
          </headers>
        </endpoint>
      </service>

      <service name="ISE.ServiceDesk.Service.UserRequestService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IRequestService" listenUri="IRequestService">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IRequestService">
            </Route>
          </headers>
        </endpoint>
      </service>
      
      <service name="ISE.ServiceDesk.Service.WorkService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IWorkService" listenUri="IWorkService">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IWorkService">
            </Route>
          </headers>
        </endpoint>
      </service>

      <service name="ISE.ServiceDesk.Service.OfficeService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IOfficeService" listenUri="IOfficeService">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IOfficeService">
            </Route>
          </headers>
        </endpoint>
      </service>
      
     <service name="ISE.ServiceDesk.Service.RoleService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.IRoleService" listenUri="IRoleService">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/IRoleService">
            </Route>
          </headers>
        </endpoint>
      </service>

      <service name="ISE.ServiceDesk.Service.ServiceDeskCartableService" behaviorConfiguration="IseWcfServiceBehaviour">
        <endpoint address="http://localhost:8010/RouterService" binding="wsHttpBinding" behaviorConfiguration="IseWsHttpEndpointBinding" bindingConfiguration="IseWsHttpEndpointBinding" contract="ISE.ServiceDesk.Common.Contract.ICartableService" listenUri="ICartableService">
          <headers>
            <Route xmlns=" http://www.iseikco.com/ServiceDesk/ICartableService">
            </Route>
          </headers>
        </endpoint>
      </service>
      
    </services>
    <client>
      <endpoint address="net.tcp://localhost:9010/RegistrationService" binding="netTcpBinding" contract="Router.Contracts.IRegistrationService" name="routerEndpoint" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="endpointBehavior" type="ISE.Framework.Common.Service.Wcf.EndpointBehaviorExtensionElement, ISE.Framework.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="customMessageEncoding" type="WcfExtensions.MessageEncodingBindingElementExtension, ISE.Framework.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="fedBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <issuedTokenAuthentication allowUntrustedRsaIssuers="false" certificateValidationMode="None" audienceUriMode="Never" revocationMode="Online" trustedStoreLocation="LocalMachine">
              <knownCertificates>
                <add findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
              </knownCertificates>
            </issuedTokenAuthentication>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="localhost" />
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
        <behavior name="IseWcfServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="IseWsHttpEndpointBinding">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />

    </protocolMapping>
    <bindings>
      <wsFederationHttpBinding>
        <binding name="wsFed" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00">
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="" negotiateServiceCredential="false">
              <issuer address="http://localhost:49520/userName" />
              <issuerMetadata address="http://localhost:49520/mex" />
            </message>
          </security>
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </wsFederationHttpBinding>
      <basicHttpBinding>
        <binding name="IseBasicHttpEndpointBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00"  messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"   />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="IseWsHttpEndpointBinding"   maxBufferPoolSize="804857600" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00">
          <reliableSession enabled="false" />
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>

    </bindings>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="TextListener" type="ISE.Framework.Common.Service.Wcf.Diagnostics.RollingXmlWriterTraceListener, ISE.Framework.Common" initializeData="C:\Temp\SvcLog\sdserver.svclog" MaxTraceFileSize="50000000" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>