<behaviors>
  <endpointBehaviors>
    <behavior name="IseServiceBehavior">
      <dataContractSerializer maxItemsInObjectGraph="2147483647"/>

    </behavior>
    <behavior name="endpointCredentialBehavior">
      <clientCredentials type="ISE.Framework.Common.Token.CustomClientCredentials,ISE.Framework.Common" >
        <serviceCertificate>
          <defaultCertificate findValue="localhost"
                           storeLocation="LocalMachine"
                           storeName="My"
                           x509FindType="FindBySubjectName"></defaultCertificate>
          <authentication certificateValidationMode="PeerOrChainTrust" />
        </serviceCertificate>
      </clientCredentials>
    </behavior>
  </endpointBehaviors>
</behaviors>