<bindings >
  <wsFederationHttpBinding>
    <binding name="wsFed2" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00">
      <security mode="Message" >
        <message algorithmSuite="Default"
            negotiateServiceCredential="false">
          <issuer address="http://localhost:49520/userName"
              binding="customBinding" bindingConfiguration="UsernameBinding">
          </issuer>
          <issuerMetadata address="http://localhost:49520/mex" />
        </message>
      </security>
      <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
    </binding>
  </wsFederationHttpBinding>
  <wsHttpBinding >
    <binding name="IseWsHttpEndpointBinding"   maxBufferPoolSize="804857600" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00">
      <reliableSession enabled="false" />
      <security mode="None" />
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
    </binding>
    <binding name="wsHttpUserName">
      <security mode="Message" >
        <message clientCredentialType="UserName" negotiateServiceCredential="false" establishSecurityContext="true"  />
      </security>
    </binding>
  </wsHttpBinding>

  <customBinding>       
    <binding name="UsernameBinding">
      <security authenticationMode="UserNameForCertificate"
              requireSecurityContextCancellation ="false"
              requireSignatureConfirmation="false"
              messageProtectionOrder ="SignBeforeEncryptAndEncryptSignature"
              requireDerivedKeys="true">
      </security>
      <httpTransport/>
    </binding>
  </customBinding>
</bindings>