<client >

  
  
  <endpoint address="http://isesrv21.ps.com:8010/RouterService" 
       binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
       contract="ISE.ServiceDesk.Common.Contract.IServiceJobs"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IServiceJobs" >
      </Route>
    </headers>
    <identity>
     
      <dns value="localhost"/>
    </identity>
  </endpoint>

  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
      binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
      contract="ISE.ServiceDesk.Common.Contract.IServiceCategory"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IServiceCategory" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>

  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
        binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
        contract="ISE.ServiceDesk.Common.Contract.IBaseDateService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IBaseDateService" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>
  
  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
       binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
       contract="ISE.ServiceDesk.Common.Contract.IServiceCategoryJob"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IServiceCategoryJob" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>

  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
       binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
       contract="ISE.ServiceDesk.Common.Contract.IRequestService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IRequestService" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>

  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
       binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
       contract="ISE.ServiceDesk.Common.Contract.IWorkService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IWorkService" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>

  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
       binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
       contract="ISE.ServiceDesk.Common.Contract.IOfficeService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IOfficeService" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>

  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
      binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
      contract="ISE.ServiceDesk.Common.Contract.IRoleService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/IRoleService" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>


  <endpoint address="http://isesrv21.ps.com:8010/RouterService"
      binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
      contract="ISE.ServiceDesk.Common.Contract.ICartableService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/ServiceDesk/ICartableService" >
      </Route>
    </headers>
    <identity>

      <dns value="localhost"/>
    </identity>
  </endpoint>
  
</client>