<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <!--<system.net>
    <defaultProxy useDefaultCredentials="true" >
      <proxy usesystemdefault="true"     />
   <bypasslist>
        <add address = "http://*.ps.com" />
      
      </bypasslist>
    </defaultProxy>
  </system.net>-->

  <system.runtime.serialization>
    <dataContractSerializer configSource="Types.config">
    </dataContractSerializer>
  </system.runtime.serialization>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="endpointBehavior" type="ISE.Framework.Common.Service.Wcf.EndpointBehaviorExtensionElement, ISE.Framework.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="customMessageEncoding" type="WcfExtensions.MessageEncodingBindingElementExtension, ISE.Framework.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <bindings configSource="Bindings.config">
    </bindings>
    <client configSource="ClientEndpoints.config">
    </client>
    <behaviors configSource="Behaviors.config">
    </behaviors>
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\SvcLog\clientSd.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>
