<dataContractSerializer>
  <declaredTypes >
    <add type="ISE.Framework.Common.CommonBase.BaseDto,ISE.Framework.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null">
      <knownType type="ISE.ServiceDesk.Common.DTO.SdServiceCategoryDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTO.SdServiceJobDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />      
      <knownType type="ISE.ServiceDesk.Common.DTO.SdServiceCategoryJobDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTO.SdFilterCategoryDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTO.SdUserRequestDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTO.SdWorkDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTO.SdItRoleDto, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
    </add>
    <add type="ISE.Framework.Common.CommonBase.DtoContainer,ISE.Framework.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null">
      <knownType type="ISE.ServiceDesk.Common.DTOContainer.BaseDataContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTOContainer.ServiceJobDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTOContainer.PersonelDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTOContainer.UserRequestDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
      <knownType type="ISE.ServiceDesk.Common.DTOContainer.OfficeDtoContainer, ISE.ServiceDesk.Common,Version=1.0,Culture=Neutral, PublicKeyToken=null" />
    </add>
  </declaredTypes>
</dataContractSerializer>